<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199797979-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-G5BN032KR0');
gtag('config', 'UA-199797979-2');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="preload" href="/animation.c88f848.svg" as="image">
<link rel="preload" href="/logo.a1a2f16.svg" as="image">
<title>Marketbotai.com</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="/favicon-32x32-1.png">
<meta name="description" content="Put the internet to work for you, hire a Bot today. The digital world is inheriting the use of Bots. An Autonomous computer program on the internet or another network that can interact with systems or users.">
<link rel="canonical" href="https://www.marketbotai.com/bot">
<link rel="shortcut icon" href="/favicon-32x32-1.png" type="image/x-icon">

<style>
@media screen and (max-width: 600px) {
html {
font-size: 16px !important;
}
#css-top-div {
min-height: 100% !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div { 
font-size: 10px !important;
}
#parent a {
font-size: 16px !important;
line-height: 1rem;
}
footer {
font-size: 8px !important;
}
}
@media screen and (min-width: 600px) {
html {
font-size: 25px !important;
}
#css-top-div {
min-height: 100% !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div { 
font-size: 16px !important;
}
#parent a {
font-size: 25px !important;
line-height: 1rem;
}
footer {
font-size: 12px !important;
}
}
@media screen and (min-width: 900px) {
html {
font-size: 30px !important;
}
#css-top-div {
min-height: 100% !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div { 
font-size: 20px !important;
}
#parent a {
font-size: 30px !important;
line-height: 1rem;
}
footer {
font-size: 14px !important;
}
}
@media screen and (min-width: 1100px) {
html {
font-size: 35px !important;
}
#css-top-div {
min-height: 100% !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div { 
font-size: 25px !important;
}
#parent a {
font-size: 35px !important;
line-height: 1rem;
}
footer {
font-size: 16px !important;
}
}
html {
margin: 0px 0px;
background-color: black;
color: white;
position: relative;
font-family: 'IBM-Plex-Regular', serif;
}
body {
margin: 0px 0px;
}
img {
width: 90%;
height: auto;
display: block;
margin: auto;
}
#css-top-div {
background: url('/logo.a1a2f16.svg') 10% 7% no-repeat, linear-gradient(to right, #003665, #00a3b6);
background-size: 40% auto, 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
#css-bottom-div {
position: relative;
display: inline-block;
width: 100%;
}
#css-bottom {
position: absolute;
text-align: center;
width: 100%;
bottom: 2%;
}
#css-padding {
margin-left: 10%;
margin-right: 10%;
margin-top: 10%;
margin-bottom: 10%;
}
#css-align {
margin-top: 30%;
margin-bottom: 10%;
}
footer {
text-align: center;
}
#css-bottom a {
display: inline-block;
text-align: center; 
vertical-align: middle;
border: 1px solid transparent;
border-radius: 5%;
color: #000000;
padding: 1%;
background-color: #007bff;
font-weight: bolder;
cursor: pointer;
text-decoration: none;
}
#css-menu {
top: 1%;
width: 100%;
}
#parent {
font-size: 1.5rem;
display: block;
position: relative;
text-align: center;
font-weight: bolder;
float: left;
line-height: 3rem;
background-color: inherit;
border: none;
margin-left: 1%;
margin-right: 1%;
}
#parent a {
color: white;
text-align: center;
line-height: inherit;
padding-left: 0.3rem;
padding-right: 0.3rem;
text-decoration: none;
}
#parent:hover > ul {
display: block;
position: absolute;
}
#child {
display: none;
}
#child li {
background-color: #E4EFF7;
line-height: inherit;
border-bottom: #CCC 1px solid;
border-right: #CCC 1px solid; 
width: 100%;
}
#child li a {
color: #000000;
}
ul {
list-style: none;
margin: 0px;
padding: 0px;
min-width: 20%;
}
ul ul ul { 
left: 100%;
top: 0px;
margin-left: 1px;
}
li:hover {
background-color: inherit;
}
#parent li:hover {
background-color: #F0F0F0;
}
#expand {
font-size: inherit;
font-weight: bolder;
float: right;
margin-right: 1px;
}
</style>
</head>
<body>
<div id="css-top-div">
<!-- <img style="height: 100%; z-index: -1; pointer-events: none; position: absolute; display: block;" src="/blur.39d7f02.jpg" alt="ai marketing"> -->
<ul id="css-menu">
<li id="parent"><a href="/">Home</a></li>
<li id="parent"><a href="https://ai.marketing/en/campaign/dwkxjvw4m6">Sign In</a></li>
<li id="parent"><a href="#">Fund MarketBot</a>
<ul id="child">
<li id="parent"><a href="#">Canada <span class="expand">»</span></a>
<ul id="child">
<li><a href="https://refer.ndax.io/vdEA"> NDAX </a></li>
</ul>
</li>
<li id="parent"><a href="#">United States <span class="expand">»</span></a>
<ul id="child">
<li><a href="https://www.binance.com/en/activity/referral-entry?fromActivityPage=true&ref=LIMIT_VLT3YNPT"> Binance </a></li>
<li><a href="https://payeer.com/018427100"> Payeer </a></li>
<li><a href="https://robinhood.com/us/en/"> Robinhood</a></li>
</ul>
</li>
<li id="parent"><a href="#">International <span class="expand">»</span></a>
<ul id="child">
<li><a href="https://www.binance.com/en/activity/referral-entry?fromActivityPage=true&ref=LIMIT_VLT3YNPT"> Binance </a></li>
<li><a href="https://www.gate.io/"> Gate.io</a></li>
<li><a href="https://www.kraken.com/"> Kraken</a></li>
</ul>
</li>
</ul>
</li>
<li id="parent"><a href="https://ai.marketing/en/campaign/xkknl8vip0">Sign Up</a></li>
</ul>
<!-- <img id="css-svg" src="/logo.a1a2f16.svg"> -->
<div id="css-align"><h1>MarketBot</h1>
<img width="183" height="150" src="/animation.c88f848.svg" alt="ai marketing">
<div id="css-padding">Wait what, An Artificial Intelligence Robot?<br>The digital world is inheriting the use of Bots.<br>An Autonomous computer program on the internet or another network that can interact with systems or users.<br><br>Put the internet to work for you. Hire a Bot today<br><br>
</div>
</div>
<div id="css-bottom-div">
<div id="css-bottom">Find out how AI Marketing's MarketBot can change your business. <br> Click below to watch a video tutorial <br><br> <a href="https://ai.marketing/en/campaign/xkknl8vip0">Watch Video</a></div></div>
</div>
<footer>All Rights Reserved.</footer>
</body>
</html>
