<!DOCTYPE html>
  <html lang="en">
<head>
<meta charset="UTF-8">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KT6TT5F');</script>
<!-- End Google Tag Manager -->


<title>AI Marketing Login MarketBot and Artificial Intelligence in Marketing</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="https://marketbotai.com/favicon-32x32-1.png">
<meta name="description" content="Put the internet to work for you. Allow AI Marketing's MarketBot to launch massive ad campaigns and earn on the sales it brings.">
<link rel="canonical" href="https://marketbotai.com/bot">
<link rel="shortcut icon" href="https://marketbotai.com/favicon-32x32-1.png" type="image/x-icon">
<meta property="og:title" content="MarketBot - AI Marketing">
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot">
<meta property="og:image" content="https://marketbotai.com/ai.marketing-1.webp">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="548">
<meta property="og:url" content="https://marketbotai.com/bot">
<meta property="og:type" content="website">


<style>

html {
margin: 0px 0px;
  font-size: 25px;
  color: white;
position: relative;
  font-family: 'IBM-Plex-SemiBold', sans-serif;
  }

body {
margin: 0px 0px;
}

img {
width: 100%;
background-color: inherit;
border: none;
}

a {
font-size: 1.4rem;
margin-left: 1%;
margin-right: 1%;
display: inline-block;
color: white;
text-align: center;
vertical-align: middle;
line-height: 2;
text-decoration: none;
font-weight: bolder;
background-color: inherit;
font-family: 'IBM-Plex-Regular', serif;
cursor: pointer;
}

a:active {
background-color: #007bff;
}

.top-div {
background: linear-gradient(to right, #003665, #00a3b6);
background-size: 100% auto;
position: relative;
width: 100%;
font-size: 2rem;
display: inline-block;
margin: 0px 0px;
}

.bottom-div {
position: relative;
width: 100%;
display: inline-block;
margin: 0px 0px;
border: none;
}

.btn {
display: inline-block;
font-size: 1.1rem;
font-weight: bolder;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
line-height: 1.5;
border-radius: 0.25rem;
color: #fff;
background-color: #28beb2;
cursor: pointer;
}

.btn2 {
display: inline-block;
font-size: 1.1rem;
font-weight: bolder;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
padding-left: 3px;
padding-right: 5px;
padding-top: 8px;
padding-bottom: 4px;
line-height: 1;
border-radius: 0.25rem;
color: #000000;
background-color: inherit;
cursor: pointer;
}

</style>

   </head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6TT5F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="top-div">
<span>
<a href = "/home">Home</a>
<a href = "https://ai.marketing/en/campaign/lul22ks3j8">Video Tutorial</a>
<a href = "https://ai.marketing/en/campaign/djl22kscxc">Sign In</a>
<a href = "https://ai.marketing/en/campaign/lul22ks3j8">Sign Up</a>
</span>

<img style="width: 40%; color: white; padding-left: 5%; padding-top: 5%; display: block;" src="logo.a1a2f16.svg" alt="ai marketing logo">


<h1 style="text-align: center;"><strong>MarketBot</strong></h1><p style="padding-left: 10%; padding-right: 10%; text-align: center;"><br>Put the internet to work for you.<br>AI Marketing's MarketBot launches massive online advertising campaigns and you earn on the sales it brings.<br><br></p>

<img style="width: 60%; display: block; margin-left: auto; margin-right: auto;" src="animation.c88f848.svg" alt="marketbot">
<img style="width: 40%; color: white; margin-left: auto; margin-right: auto; margin-top: 20%; margin-bottom: 1%; display: block;" src="logo.a1a2f16.svg" alt="ai marketing logo">
<!-- <img style="z-index: -1; pointer-events: none; position: absolute; display: block;" src="ai-4-1.webp" alt="ai marketing"> -->
<p style="color: white; text-align: center; padding-left: 5%; padding-right: 5%; font-size: 1rem;">The Future Won't Wait!<br><br><strong>Find out how AI Marketing's MarketBot can change your business.<br>Click below to watch a video tutorial.</strong><br><br><button class="btn" onclick="window.location.href = 'https://ai.marketing/en/campaign/lul22ks3j8';">Watch Video</button><br><br>Not what you're looking for?<br>Find it at Amazon.com<br><a class="btn2" href="https://www.amazon.com/Amazon-smart-plug-works-with-Alexa/dp/B089DR29T6?_encoding=UTF8&pd_rd_w=YuV0w&content-id=amzn1.sym.bbb6bbd8-d236-47cb-b42f-734cb0cacc1f&pf_rd_p=bbb6bbd8-d236-47cb-b42f-734cb0cacc1f&pf_rd_r=3SE5BA1QN4J5SVJMX4PZ&pd_rd_wg=KS7mC&pd_rd_r=707c0668-f3e7-456f-8c41-bc0ba947d298&linkCode=ll1&tag=200e70d-20&linkId=f3997591800faf3adfe0166cd104b90d&language=en_US&ref_=as_li_ss_tl"><img style="border: 2px solid black; border-radius: 0.25rem; padding-left: 5px; padding-right: 3px; padding-top: 8px; padding-bottom: 4px; background-color: black;" src="https://marketbotai.com/ai.marketing.png" alt="ai marketing"></a></p>
</div>
  <!-- <div style="position: relative;">
    <p align="center"><iframe src="//ws-na.amazon-adsystem.com/widgets/cm?o=15&p=48&l=ur1&category=amazonhomepage&f=ifr&linkID=ac739456d59c2624d82c5f2b4f265dff&t=105cdd-20&tracking_id=105cdd-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe></p>
   </div> -->


<footer style="color: white; background-color: black; text-align: center;">All Rights Reserved.</footer>

</body>

</html>
