<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WJPHWWJ');</script>
<!-- End Google Tag Manager -->


<meta name="viewport" content="width=device-width">

<title>Have you heard about MarketBot</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="https://marketbotai.com/favicon-32x32-1.png">
<meta name="description" content="Hire an Artificial Intelligence robot to work for you with minimal supervision required. Fund your MarketBot campaign and watch it go to work.">
<link rel="canonical" href="https://marketbotai.com/">
<link rel="shortcut icon" href="https://marketbotai.com/favicon-32x32-1.png" type="image/x-icon">
<meta property="og:title" content="MarketBot - AI Marketing">
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot">
<meta property="og:image" content="https://marketbotai.com/ai.marketing-1.webp">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="548">
<meta property="og:url" content="https://marketbotai.com/">
<meta property="og:type" content="website">

<style>
@media screen and (max-width: 500px) {
.btn {
min-height: 15px !important;
min-width: 100px !important;
line-height: 15px !important;
}
.btnbottom {
min-height: 12px !important;
min-width: 100px !important;
line-height: 12px !important;
}
#css-bottom {
font-size: 12px !important;
}
#css-padding {
font-size: 20px !important;
}
#css-align {
font-size: 20px !important;
}
footer {
font-size: 12px !important;
}
}
@media screen and (min-width: 600px) {
.btn {
min-height: 25px !important;
min-width: 100px !important;
line-height: 25px !important;
}
.btnbottom {
min-height: 16px !important;
min-width: 100px !important;
line-height: 16px !important;
}
#css-bottom {
font-size: 16px !important;
}
#css-padding {
font-size: 25px !important;
}
#css-align {
font-size: 25px !important;
}
footer {
font-size: 16px !important;
}
}
@media screen and (min-width: 850px) {
.btn {
min-height: 30px !important;
min-width: 100px !important;
line-height: 30px !important;
}
.btnbottom {
min-height: inherit !important;
min-width: 100px !important;
line-height: inherit !important;
}
#css-bottom {
font-size: 30px !important;
}
#css-padding {
font-size: 48px !important;
}
#css-align {
font-size: 48px !important;
}
footer {
font-size: inherit !important;
}
}
html {
margin: 0px 0px;
color: white;
position: relative;
font-family: 'IBM-Plex-SemiBold', sans-serif;
}
.btn {
  --swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.675em 1em .5em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 1px solid #28beb2;
background: #28beb2;
text-decoration: none;
text-transform: uppercase;
margin-top: 0.5em;
}
.btnbottom {
  --swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0.3em 0.6em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 1px solid #28beb2;
background: #28beb2;
text-decoration: none;
text-transform: uppercase;
margin-top: 1%;
}
body {
margin: 0px 0px;
color: white;
}
img {
width: 100%;
height: auto;
display: block;
}
#css-svg {
width: 40%;
display: block;
margin-left: 5%;
margin-top: 10%;
}
#css-top-div {
background: url('logo.a1a2f16.svg') 5% 5% no-repeat, linear-gradient(to right, #003665, #00a3b6);
background-size: 40% auto, 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
#css-bottom-div {
position: relative;
display: block;
width: 100%;

}
#css-bottom {
  position: absolute;
  text-align: center;
  margin-left: 10%;
  width: 80%;
  bottom: 2%;
}
#css-padding {
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}
#css-align {
margin-top: 20%;
}
footer {
text-align: center;
background-color: black;

}
</style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJPHWWJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="css-top-div">

<div id="css-align"><h1>MarketBot</h1>
<div id="css-padding">Earn up to 35% Cashback!<br>Without complications.<br><br><a class="btn" href="https://ai.marketing/en/campaign/lul22ks3j8">Sign in | Sign up</a></div></div></div>

<img src="ai.marketing-1.webp" style="width: 800; height: 548; display: block;" alt="">

<div id="css-bottom-div">
  <img src="ai-4-1.webp" style="width: 790; height: 469; display: block;" alt="">

<div id="css-bottom">Find out how MarketBot can change your business.<br>USD50 Gift Certificate at registration!<br><a class="btnbottom" href="https://ai.marketing/en/campaign/lul22ks3j8">GET USD50 ADVERTISING BUDGET!</a></div></div>
<footer>All Rights Reserved.</footer>
</body>
</html>
