<!DOCTYPE html>
  <html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preload" href="logo.a1a2f16.svg" as="image">

<link rel="preload" href="blur.39d7f02.jpg" as="image">
<link rel="preload" href="ai.marketing.jpg" as="image">
<link rel="preload" href="semantic.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="semantic.min.css">
    </noscript>
    
<title>AI Marketing MarketBot Cashback and Artificial Intelligence in Marketing</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="/favicon-32x32-1.png">
<meta name="description" content="Find out how Artificial Intelligence can change your business">
<link rel=”canonical” href=”https://www.marketbotai.com”>
<link rel='shortcut icon' href=”/favicon-32x32-1.png” type="image/x-icon">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199797979-2"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-199797979-2');</script>



<style>
   
html {
  color: white;
  position: relative;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, 'IBM-Plex-Regular', serif;
  
}


h1 {
text-align: center;
font-size: 90px;
}

h2 {
text-align: center;
font-size: 50px;
}

p {
font-size: 25px;
}

a {
font-size: 30px;
padding-right: 30px;
margin-top: 10px; 
margin-bottom: 10px; 
display: inline-block;
color: white;
text-decoration: none;
font-weight: bolder;
font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

input {
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}
    input[type=submit] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem; 
    font-weight: 400;
    width: 20%;
    text-align: center;
    color: #fff; 
    background-color: #007bff; 
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}

.center {
text-align: center;
}

.texted {
  background-image: url('/ai-4-1.jpg');
  background-size: 100% 100%;
width: 100%;
  background-repeat: no-repeat;
font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, 'IBM-Plex-Regular', serif;
  
  text-align: center;
padding-left: 60px; 
padding-right: 60px;
color: white;
}

.textedmid {
  background-image: url('/ai.marketing.jpg');
  background-size: 100% 100%;
width: 100%;
height: 40%;
  background-repeat: no-repeat;
}

.top-left {
background-image: url('/blur.39d7f02.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
width: 100%;
padding-left: 60px;
padding-right: 60px;
padding-top: 30px;
font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif, 'IBM-Plex-Regular', serif;
color: white;
}

.btn { 
display: inline-block; 
font-size: 1.5rem; 
font-weight: 400; 
text-align: center; 
vertical-align: middle; 
border: 1px solid transparent; 
padding: 0.375rem 0.75rem; 
line-height: 2; 
border-radius: 0.25rem; 
color: #fff; 
background-color: #007bff; 
cursor: pointer;
}
</style>


    </head>

<body>
<div class="top-left"><header><div class="menu"><a class="item" href="/home">Home</a><a class="item" href="https://ai.marketing/en/campaign/xkknl8vip0">Video Tutorial</a><a class="item" href="https://ai.marketing/en/campaign/dwkxjvw4m6">Sign In</a><a class="item" href="https://ai.marketing/en/campaign/xkknl8vip0">Sign Up</a></div></header>
<p><br></p>
<img style="width:50%; color: white;" src="/logo.a1a2f16.svg" alt="ai marketing">
<p><br><br></p>
<h1>MarketBot<br></h1><h2><br>Earn up to 35% cashback!<br>Without complications<br><br></h2>

</div>
<img style="width:100%; height:auto; display: block;" src="/ai.marketing.jpg" alt="ai marketing">

<div class="texted">

<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>Find out how Artificial Inteligence can change your business.<br>Click below to watch a video tutorial<br></p>
<button class="btn" onclick="window.location.href = 'https://ai.marketing/en/campaign/xkknl8vip0';">Click Here</button>
<p><br></p>
</div>


<div class="ui inverted footer" style="color:black;">
<div class="ui container">
<div class="center">
Marketbotai.com 2022. All Rights Reserved.
</div>
</div>
</div>
</body>

</html>
