<!DOCTYPE html>
  <html lang="en">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KT6TT5F');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<link rel="preload" href="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/ai-4-1.jpg" as="image">
<link rel="preload" href="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/ai.marketing.jpg" as="image">
<link rel="preload" href="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/logo.a1a2f16.svg" as="image">

<title>AI Marketing Login MarketBot and Artificial Intelligence in Marketing</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/favicon-32x32-1.png">
<meta name="description" content="Put the internet to work for you. Allow ai.marketing MarketBot to launch massive ad campaigns and earn on the sales it brings.">
<link rel="canonical" href="https://www.marketbotai.com/home">
<link rel="shortcut icon" href="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/favicon-32x32-1.png" type="image/x-icon">
<meta property="og:title" content="MarketBot - AI Marketing">
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot">
<meta property="og:image" content="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/ai.marketing.jpg">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="548">
<meta property="og:url" content="https://www.marketbotai.com/home">
<meta property="og:type" content="website">


<style>
   
html {
margin: 0px 0px;
  font-size: 25px;
  color: white;
position: relative;
  font-family: 'IBM-Plex-Regular', serif;
  }

body {
margin: 0px 0px;
}

img {
width: 100%;
border: none;
}

svg {
padding-left: 5%;
}

a {
font-size: 1.4em;
margin-left: 1%;
margin-right: 1%;
display: inline-block;
color: white;
text-align: center; 
vertical-align: middle; 
line-height: 3; 
text-decoration: none;
font-weight: bolder;
background-color: inherit;
font-family: 'IBM-Plex-Regular', serif;
cursor: pointer;
}

a:active {
background-color: #007bff;
}

.top-div {
background: linear-gradient(to right, #003665, #00a3b6);
background-size: 100% auto;
position: relative;
width: 100%;
display: inline-block;
margin: 0px 0px;
} 

.bottom-div {
position: relative;
width: 100%;
display: inline-block;
margin: 0px 0px;
border: none;
}

.btn { 
display: inline-block; 
font-size: 1.1rem; 
font-weight: 400; 
text-align: center; 
vertical-align: middle; 
border: 1px solid transparent; 
padding: 0.375rem 0.75rem; 
line-height: 1.5; 
border-radius: 0.25rem; 
color: #000000; 
background-color: #007bff; 
cursor: pointer;
}


</style>

   </head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6TT5F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="top-div">
<span>
<a href = "/">Home</a>
<a href = "https://ai.marketing/en/campaign/xkknl8vip0">Video Tutorial</a>
<a href = "https://ai.marketing/en/campaign/dwkxjvw4m6">Sign In</a>
<a href = "https://ai.marketing/en/campaign/xkknl8vip0">Sign Up</a>
</span>

<img style="width: 40%; color: white; padding-left: 5%; padding-top: 5%;" src="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/logo.a1a2f16.svg" alt="ai marketing logo">


<h1 style="text-align: center;"><br><strong>MarketBot</strong><br></h1><p style="padding-left: 10%; padding-right: 10%;"><br>Put the internet to work for you. Allow ai.marketing MarketBot to launch massive ad campaigns and earn on the sales it brings.<br><br></p>
</div>
<img style="height: auto; display: block;" src="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/ai.marketing.jpg" alt="ai.marketing">
<div class="bottom-div">
<img style="height: 100%; z-index: -1; pointer-events: none; position: absolute; display: block;" src="https://ai-marketing.b9ad.pro-us-east-1.openshiftapps.com/ai-4-1.jpg" alt="marketbot">
<p style="color: white; text-align: center;"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><strong>Find out how AI Marketing's MarketBot can change your business.<br>Click below to watch a video tutorial.</strong><br><br><button class="btn" onclick="window.location.href = 'https://ai.marketing/en/campaign/xkknl8vip0';">Watch Video</button><br></p>
</div>

<footer style="color: white; background-color: black; text-align: center;">All Rights Reserved.</footer>

</body>

</html>
