<!DOCTYPE html>
  <html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 

<title>AI.marketing | MarketBot, Cashback and Artificial Intelligence in Marketing</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="/favicon-32x32-1.png">
<meta name="description" content="Find out how Artificial Inteligence can change your business. Click below to watch a video tutorial">
<link rel=”canonical” href=”https://www.marketbotai.com”/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199797979-2">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-199797979-2');
</script>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script type="text/javascript">
  var onSubmit = function(response) {
window.location.href = 'https://ai.marketing/en/campaign/xkknl8vip0';
  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("form").submit(function(){
    alert("Your request has been successfully submitted");
  });
});
</script>

<style>
   
html {
text-align: center;
  position: relative;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

input {
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}
    input[type=submit] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem; 
    font-weight: 400;
    width: 20%;
    text-align: center;
    color: #fff; 
    background-color: #007bff; 
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  color: white;
}

.text-block {
  background-image: url('/ai-4-1.jpg');
  background-size: 100% 100%;
width: 100%;
  background-repeat: no-repeat;
font-family: 'Courier New', Courier, monospace;

font-size: 25px;
  color: white;
  text-align: center;
padding-left: 60px; 
padding-right: 60px;
}

.bb-block {
background-image: url('/blur.39d7f02.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
width: 100%;
padding-left: 60px;
padding-right: 60px;
font-size: 25px;
font-family: 'Courier New', Courier, monospace;
color: white;
text-align: center;
}

.btn { 
display: inline-block; 
font-size: 1.1rem; 
font-weight: 400; 
text-align: center; 
vertical-align: middle; 
border: 1px solid transparent; 
padding: 0.375rem 0.75rem; 
line-height: 1.5; 
border-radius: 0.25rem; 
color: #fff; 
background-color: #007bff; 
cursor: pointer;
}
</style>


    </head>

<body>
<header>
<div class="ui inverted menu">
<a class="item" href="/">
Home
</a>
<a class="item" href="https://ai.marketing/en/campaign/xkknl8vip0">
Video Tutorial
</a>
<a class="item" href="https://ai.marketing/en/campaign/dwkxjvw4m6">
Sign In
</a>
<a class="item" href="https://ai.marketing/en/campaign/xkknl8vip0">
Sign Up
</a>
</div>
</header>
<img style="width:100%" src="https://thumbs2.imgbox.com/bb/b9/eLdXEXUs_t.jpg" alt="ai.marketing"/>
<img style="width:100%" src="https://thumbs2.imgbox.com/7a/d8/sTpX7WwZ_t.jpg" alt="ai.marketing"/>

<div class="text-block">

<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><strong>Find out how Artificial Inteligence can change your business. Click below to watch a video tutorial</strong><br></p>
<button class="btn" onclick="window.location.href = 'https://ai.marketing/en/campaign/xkknl8vip0';"> <!-- class="h-captcha" data-sitekey="f1b8d7f2-a0b4-4d55-a785-124c796700fa" data-callback="onSubmit" style="display: inline-block; font-size: 1rem; font-weight: 400; text-align: center; vertical-align: middle; border: 1px solid transparent; padding: 0.375rem 0.75rem; line-height: 1.5; border-radius: 0.25rem; color: #fff; background-color: #007bff; cursor: pointer;"> -->
Click Here</button>

<p><br></p>
</div>

<div class="bb-block">
<p><br></p>
<h1>Already have an account?</h1>
<p><strong>Join the official AI.marketing news channel for up to date news.<br>Submit your details for more info.</strong><br></p>
<form name="myform" method="post" action="/">
            
            <input class="box" type="text" name="name" id="name" placeholder="Name" required/></br>
          <input class="box" type="email" name="email" id="email" placeholder="Email" required/></br>
            
<input type="submit" id="submitDetails" name="submitDetails" value="Submit"/> 
</form>
<p><br></p>
</div>

<div class="ui inverted footer" style="color:black;">
<div class="ui container">
Marketbotai.com 2021. All Rights Reserved.
</div>
</div>
</body>

</html>
