<html>

<head>

	<title>Image</title></head>

<body>

                <img src="data:image/<%=image.contentType%>;base64, 

                     <%=image.data.toString('base64')%>"> 



	<img src=%image%>

</body>

</html>
