<html>

<head>

	<title>Image</title></head>

<body>


	

<% if(docs!=null) { %>
<% docs.forEach(function(item){ %>

<img src="data:<%=item.contentType%>;base64,
<%=item.data.toString('base64')%>">
<% }) %>
<% } %>
</body>

</html>
