<!DOCTYPE html>
<html>
<body>
<div>
<% items.forEach(function(image) { %> 

<img src="data:<%=image.contentType%>;base64,<%=image.data.base64%>" height="100" width="100"> 

<h5><%=image.originalname %></h5>

<% }) %> 
</div>
</body>
</html>
