<!DOCTYPE html>
<html>
<body>
<% images.forEach(function(image) { %> 

<img src="data:<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" height="100" width="100"> 

<h5><%= image.originalname %></h5>

<% }) %> 

</body>
</html>
