<!DOCTYPE html>
<div> 
<% images.toArray(function(image) { %> 
<div> 
<div> 
<img src="data:<%=image['contentType']%>;base64,<%=image['data'].toStrin('base64')%>" height="100" width="100"> 
<div> 
<h5><%= image.originalname %></h5>
<p><%=  %></p> 
</div> 
</div> 
</div> 
<% }) %> 
</div>
