<!DOCTYPE html>
<html>
<body>
<div>
<% image.forEach(function(item) { %> 

<img src="data:<%=item.contentType%>;base64,<%=item.data%>" height="100" width="100"> 

<h5><%=item.originalname %></h5>

<% }) %> 
</div>
</body>
</html>
