<!DOCTYPE html>
<html>
<body>
<div>
<% items.forEach(function(image) { %> 
<div>
<div>
<img src="data:<%=image.contentType%>;base64,<%=image.data%>" height="100" width="100"> 
<div>
<h5><%=image.originalname %></h5>
</div>
</div>
</div>
<% }) %> 
</div>
</body>
</html>
