<!DOCTYPE html>
<html>
<body>
<% if(images!=null) { %> 

<img src="data:<%=images.contentType%>;base64,<%=images.data.toString('base64')%>" height="100" width="100"> 

<h5><%= images.originalname %></h5>

<% }) %> 

</body>
</html>
