<!DOCTYPE html>
<div> 
<% images.forEach(function(image) { %> 
<div> 
<div> 
<img src="data:<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" height="100" width="100"> 
<div> 
<h5><%= image.originalname %></h5>
<p><%= image.uploaded %></p> 
</div> 
</div> 
</div> 
<% }) %> 
</div>
