<html> 
<head> 
<title>Javascript Login Form Validation</title> 
<!-- Include JS File Here --> 
<script src="/views/login.html"></script> 
</head> 
<style>
.middle { 
position: absolute; 
top: 50%; left: 50%; 
transform: translate(-50%, -50%); 
text-align: center;
}

</style>

<body> 
<div class="middle"> 
<form id="form_id" method="post" name="myform"> 
<h2>User Name:</h2> 
<input type="text" name="username" id="username"/> 
<h2>Password :</h2> 
<input type="password" name="password" id="password"/> 
<button onclick="window.location.href='http://nodejs-mongo-persistent-cc.b9ad.pro-us-east-1.openshiftapps.com/countdown';"> login </button>
</div> 
</body> 
<script>
function validate(){ 
var username = document.getElementById("username").value; 
var password = document.getElementById("password").value; 
if (username == "username1" && password == "password1"){ 
window.location.href='http://nodejs-mongo-persistent-cc.b9ad.pro-us-east-1.openshiftapps.com/commands';">
} else{ 
alert("Invalid username or password"); 
} 
return false; 
}
</script>

</html>
