<html> 
<head> 
<title>Javascript Login Form Validation</title> 
<!-- Include JS File Here --> 
<script src="/views/login.html"></script> 
</head> 


<body> 
<div class="container"> 
<form id="form_id" method="post" name="myform"> 
<label>User Name :</label> 
<input type="text" name="username" id="username"/> 
<label>Password :</label> 
<input type="password" name="password" id="password"/> 
<input type="button" value="Login" id="submit" onclick="validate()"/> 
</form> 
</div> 
</body> 
<script>
function validate(){ 
var username = document.getElementById("username").value; 
var password = document.getElementById("password").value; 
if (username == "username1" && password == "password1"){ 
window.location.href='http://nodejs-mongo-persistent-cc.b9ad.pro-us-east-1.openshiftapps.com/commands';">
} else{ 
alert("Invalid username or password"); 
} 
return false; 
}
</script>

</html>
