<!DOCTYPE html>
  <html lang="en-us">
<head>
<meta charset="UTF-8">
<link rel="preload" href="/blur.39d7f02.jpg" as="image">
<link rel="preload" href="/ai-4-1.jpg" as="image">
<link rel="preload" href="/ai.marketing.jpg" as="image">
<link rel="preload" href="/logo.a1a2f16.svg" as="image">

<title>AI Marketing - MarketBot and Artificial Intelligence in Marketing</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="/favicon-32x32-1.png">
<meta name="description" content="Find out how Artificial Intelligence can change your business">
<link rel="canonical" href="https://www.marketbotai.com">
<link rel="shortcut icon" href="/favicon-32x32-1.png" type="image/x-icon">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199797979-3"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-199797979-3'); </script>

<style>
   
html {
margin: 0px 0px;
  font-size: 25px;
  color: white;
position: relative;
  font-family: 'IBM-Plex-Regular', serif;
  }

body {
margin: 0px 0px;
}

img {
width: 100%;
border: none;
}

svg {
padding-left: 5%;
}

a {
font-size: 1.1em;
padding-left: 5%;
display: inline-block;
color: white;
text-align: center; 
vertical-align: middle; 
line-height: 4; 
text-decoration: none;
font-weight: bolder;
background-color: inherit;
font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
cursor: pointer;
}

div {
position: relative;
width: 100%;
display: inline-block;
margin: 0px 0px;
border: none;
}

span {
position: relative;
width: 100%;
display: inline-block;
margin: 0px 0px;
border: none;
} 

footer {
color: black; 
font-size: 16px; 
text-align: center;
}

.btn { 
display: inline-block; 
font-size: 1.1rem; 
font-weight: 400; 
text-align: center; 
vertical-align: middle; 
border: 1px solid transparent; 
padding: 0.375rem 0.75rem; 
line-height: 1.5; 
border-radius: 0.25rem; 
color: #fff; 
background-color: #007bff; 
cursor: pointer;
}


</style>

   </head>

<body>

<span> <img height="100%" style="z-index: -1; pointer-events: none; position: absolute; display: block;" src="/blur.39d7f02.jpg" alt="ai marketing">

<header>
<a href = "/">Home</a>
<a href = "https://ai.marketing/en/campaign/xkknl8vip0">Video Tutorial</a>
<a href = "https://ai.marketing/en/campaign/dwkxjvw4m6">Sign In</a>
<a href = "https://ai.marketing/en/campaign/xkknl8vip0">Sign Up</a>
</header>
<br>
<img style="width: 40%; color: white; padding-left: 5%;" src="/logo.a1a2f16.svg" alt="ai marketing logo">
<br><br>
<h1 style="text-align: center; font-size: 90px;"><strong>MarketBot</strong><br></h1><p style="font-size: 50px; text-align: center;">Earn up to 35% cashback!<br>Without complications<br></p>
</span>
<img height="auto" style="display: block;" src="/ai.marketing.jpg" alt="ai.marketing">
<div>
<img height="100%" style="z-index: -1; pointer-events: none; position: absolute; display: block;" src="/ai-4-1.jpg" alt="marketbot">
<p style="color: white; font-size: 25px; text-align: center;"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>Find out how Artificial Intelligence can change your business.<br>Click below to watch a video tutorial.<br><br><button class="btn" onclick="window.location.href = 'https://ai.marketing/en/campaign/xkknl8vip0';">Click Here</button><br></p>

</div>

<footer>Marketbotai.com 2022. All Rights Reserved.</footer>

</body>

</html>
