<!DOCTYPE html>
<html lang="en">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KT6TT5F');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Have you heard about MarketBot</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="favicon-32x32-1.png">
<meta name="description" content="Hire an Artificial Intelligence robot to work for you with minimal supervision required. Fund your MarketBot campaign and watch it go to work.">
<link rel="canonical" href="https://marketbotai.com">
<link rel="shortcut icon" href="https://marketbotai.com/favicon-32x32-1.png" type="image/x-icon">
<meta property="og:title" content="MarketBot - AI Marketing">
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot">
<meta property="og:image" content="https://marketbotai.com/ai.marketing.webp">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="548">
<meta property="og:url" content="https://marketbotai.com">
<meta property="og:type" content="website">

<style>
@media screen and (max-width: 500px) {
h1 {
font-size: 35px !important;
}
.btn--green {
font-size: 12px !important;
min-height: 1.5em !important;
min-width: 125px;
line-height: 0.7em !important;
}
.btn--green-bottom {
font-size: 12px !important;
min-height: 0.4em !important;
min-width: 150px;
line-height: 0.7em !important;
}
#css-bottom-div {
font-size: 12px !important;
}
footer {
font-size: 12px;
}
}
@media screen and (min-width: 600px) {
html {
font-size: 25px !important;
}
.btn--green {
font-size: 16px !important;
}
.btn--green-bottom {
font-size: 16px !important;
}
#css-bottom-div {
font-size: 16px !important;
}
footer {
font-size: 12px;
}
}
@media screen and (min-width: 760px) {
html {
font-size: 30px !important;
}
.btn--green {
font-size: 20px !important;
}
.btn--green-bottom {
font-size: 20px !important;
}
#css-bottom-div {
font-size: 20px !important;
}
footer {
font-size: 14px;
}
}
@media screen and (min-width: 960px) {
html {
font-size: 35px !important;
}
#css-bottom-div {
font-size: 25px !important;
}
footer {
font-size: 16px;
}
}
html {
--swiper-theme-color: #007aff;
position: relative;
margin: 0px 0px;
font-family: 'IBM-Plex-SemiBold', sans-serif;
word-spacing: 1px;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
color: #fff;
text-align: center;
box-sizing: border-box;
font-style: normal;
font-weight: 600;
}
body {
margin: 0px 0px;
color: white;
}



.btn--green {
  --swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: .675em 1em .5em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-weight: bolder;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 1px solid #28beb2;
background: #28beb2;
text-decoration: none;
min-height: 56px;
text-transform: uppercase;
margin-top: 0.5em;
min-width: 150px;
}
.btn--green-bottom {
  --swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: .675em 1em .5em;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
font-weight: bolder;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
white-space: normal;
border: 1px solid #28beb2;
background: #28beb2;
text-decoration: none;
min-height: 56px;
text-transform: uppercase;
margin-top: 0.5em;
min-width: 200px;
}
img {
width: 100%;
height: auto;
display: block;
}
#css-svg {
width: 40%;
display: block;
margin-left: 5%;
margin-top: 10%;
}
#css-top-div {
background: url('logo.a1a2f16.svg') 5% 5% no-repeat, linear-gradient(to right, #003665, #00a3b6);
background-size: 40% auto, 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
#css-bottom-div {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin: 0px 0px;
}
#css-bottom {
position: absolute;
text-align: center;
width: 80%;
bottom: 1%;
margin: 0px 0px;
}
#css-padding {
font-size: 1.3rem;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}
#css-align {
font-size: 1.1rem;
margin-top: 30%;
}
footer {
text-align: center;
background-color: black;
}
</style>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6TT5F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="css-top-div">

<div id="css-align"><h1>MarketBot</h1>
<div id="css-padding">Earn up to 35% Cashback!<br>Without complications.<br><br>

  <button class="btn--green" type="submit" onclick="myFunction()">Sign in | Sign up</button>
  <script>
  function myFunction() {
    window.location.href="https://ai.marketing/en/campaign/lul22ks3j8";
  }
  </script>

</div>
</div>
</div>

<picture>
  <source srcset="ai.marketing-1.webp" type="image/webp">
      <source srcset="ai.marketing.jpg" type="image/jpg">
<img src="ai.marketing-1.webp" style="width: 800; height: 548; display: block;" alt="marketbot1">
</picture>
<div id="css-bottom-div">
  <picture>
    <source srcset="ai-4-1.webp" type="image/webp">
        <source srcset="ai-4-1.jpeg" type="image/jpeg">
  <img src="ai-4-1.jpeg" width="790" height="469" style="width: 100%; height: auto; display: block;" alt="marketbot">
  </picture>

<div id="css-bottom">Find out how AI Marketing's MarketBot can change your business. <br> USD50 Gift Certificate at registration!<br>
  <button class="btn--green-bottom" type="submit" onclick="myFunction()">GET USD50 ADVERTISING BUDGET!</button>
  <script>
  function myFunction() {
    window.location.href="https://ai.marketing/en/campaign/lul22ks3j8";
  }
  </script>
</div></div>

<footer>All Rights Reserved.</footer>
</body>
</html>
