<!DOCTYPE html>
<html lang="en">
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KT6TT5F');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<!--<link rel="preload" href="https://marketbotai.com/ai-4-1.jpg" as="image">
<link rel="preload" href="https://marketbotai.com/ai.marketing.jpg" as="image">
<link rel="preload" href="https://marketbotai.com/logo.a1a2f16.svg" as="image">-->
<title>Have you heard about MarketBot</title>
<link data-n-head="1" rel="icon" type="image/x-icon" href="favicon-32x32-1.png">
<meta name="description" content="Hire an Artificial Intelligence robot to work for you with minimal supervision required. Fund your MarketBot campaign and watch it go to work.">
<link rel="canonical" href="https://marketbotai.com">
<link rel="shortcut icon" href="https://marketbotai.com/favicon-32x32-1.png" type="image/x-icon">
<meta property="og:title" content="MarketBot - AI Marketing">
<meta property="og:description" content="Work from home with MarketBot's Artificial Intelligence Robot">
<meta property="og:image" content="https://marketbotai.com/ai.marketing.webp">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="548">
<meta property="og:url" content="https://marketbotai.com">
<meta property="og:type" content="website">

<style>
@media screen and (max-width: 500px) {
h1 {
font-size: 35px !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div {
font-size: 12px !important;
}
#parent a {
font-size: 14px !important;
line-height: 1rem;
}
footer {
font-size: 12px;
}
}
@media screen and (min-width: 600px) {
html {
font-size: 25px !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div {
font-size: 16px !important;
}
#parent a {
font-size: 25px !important;
line-height: 1rem;
}
footer {
font-size: 12px;
}
}
@media screen and (min-width: 760px) {
html {
font-size: 30px !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div {
font-size: 20px !important;
}
#parent a {
font-size: 30px !important;
line-height: 1rem;
}
footer {
font-size: 14px;
}
}
@media screen and (min-width: 960px) {
html {
font-size: 35px !important;
}
#css-menu {
top: 1%;
width: 100%;
}
#css-bottom-div {
font-size: 25px !important;
}
#parent a {
font-size: 35px !important;
line-height: 1rem;
}
footer {
font-size: 16px;
}
}
html {
--swiper-theme-color: #007aff;
position: relative;
margin: 0px 0px;
font-family: 'IBM-Plex-SemiBold', sans-serif;
word-spacing: 1px;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
color: #fff;
text-align: center;
box-sizing: border-box;
font-style: normal;
font-weight: 600;
}
body {
margin: 0px 0px;
color: white;
}



.btn--green {
  --swiper-theme-color: #007aff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: inline-flex;
align-items: center;
justify-content: center;
padding: .675rem 1.95rem .5rem;
border-radius: 4px;
outline: none;
text-align: center;
margin: 0;
color: #fff;
cursor: pointer;
line-height: 24px;
font-weight: bolder;
font-family: "IBM-Plex-SemiBold", sans-serif;
box-shadow: 0 4px 10px rgba(0,0,0,.15);
font-size: 25px;
white-space: normal;
border: 1px solid #28beb2;
background: #28beb2;
text-decoration: none;
min-height: 56px;
text-transform: uppercase;
margin-top: 0.5rem;
min-width: 240px;
}
img {
width: 100%;
height: auto;
display: block;
}
#css-svg {
width: 40%;
display: block;
margin-left: 5%;
margin-top: 10%;
}
#css-top-div {
background: url('logo.a1a2f16.svg') 10% 10% no-repeat, linear-gradient(to right, #003665, #00a3b6);
background-size: 40% auto, 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
#css-bottom-div {
position: relative;
display: block;
width: 100%;
margin: 0px 0px;
}
#css-bottom {
position: absolute;
text-align: center;
width: 100%;
bottom: 1%;
margin: 0px 0px;
}
#css-padding {
font-size: 1.3rem;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}
#css-align {
font-size: 1.1rem;
margin-top: 30%;
}
#css-banner-div {
background: linear-gradient(to right, #003665, #00a3b6);
background-size: 100% auto;
position: relative;
text-align: center;
width: 100%;
display: inline-block;
margin: 0px 0px;
}
footer {
text-align: center;
background-color: black;
}

#css-bottom a {
display: inline-block;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
border-radius: 5%;
color: #000000;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
background-color: #007bff;
font-weight: bolder;
cursor: pointer;
text-decoration: none;
}
#css-menu {
top: 1%;
width: 100%;
}
#parent {
font-size: 1.4rem;
display: block;
position: relative;
text-align: center;
font-weight: bolder;
float: left;
line-height: 2rem;
background-color: inherit;
border: none;
margin-left: 1%;
margin-right: 1%;
}
#parent a {
color: white;
text-align: center;
line-height: inherit;
text-decoration: none;
padding-left: 0.2rem;
padding-right: 0.2rem;
}
#parent:hover > ul {
display: block;
position: absolute;
}
#child {
display: none;
}
#child li {
background-color: #E4EFF7;
line-height: inherit;
border-bottom: #CCC 1px solid;
border-right: #CCC 1px solid;
width: 100%;
}
#child li a {
color: #000000;
}
ul {
list-style: none;
margin: 0px;
padding: 0px;
min-width: 20%;
}
ul ul ul {
left: 100%;
top: 0px;
margin-left: 1px;
}
li:hover {
background-color: inherit;
}
#parent li:hover {
background-color: #F0F0F0;
}
#expand {
font-size: inherit;
font-weight: bolder;
float: right;
margin-right: 1px;
}
</style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6TT5F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="css-top-div">
<!-- <img style="height: 100%; z-index: -1; pointer-events: none; position: absolute; display: block;" src="/blur.39d7f02.jpg" alt="ai marketing"> -->
<!-- <ul id="css-menu">
<li id="parent"><a href="/bot"> Bot </a></li>
<li id="parent"><a href="https://ai.marketing/en/campaign/djl22kscxc"> Sign In </a></li>
<li id="parent"><a href="#"> Fund MarketBot </a>
<ul id="child">
<li id="parent"><a href="#"> Canada <span class="expand">»</span></a>
<ul id="child">
<!-- <li><a href="https://ndax.io/auth/sign-up/vdEA"> NDAX </a></li> ->
<li><a href="https://refer.ndax.io/vdEA"> NDAX </a></li>
</ul>
</li>
<li id="parent"><a href="#"> United States <span class="expand">»</span></a>
<ul id="child">
<li><a href="https://www.binance.com/en/activity/referral-entry?fromActivityPage=true&ref=LIMIT_VLT3YNPT"> Binance </a></li>
<li><a href="https://payeer.com/018427100"> Payeer </a></li>
<li><a href="https://robinhood.com/us/en/"> Robinhood </a></li>
</ul>
</li>
<li id="parent"><a href="#"> International <span class="expand">»</span></a>
<ul id="child">
<li><a href="https://www.binance.com/en/activity/referral-entry?fromActivityPage=true&ref=LIMIT_VLT3YNPT"> Binance </a></li>
<li><a href="https://www.gate.io/"> Gate.io </a></li>
<li><a href="https://www.kraken.com/"> Kraken </a></li>
</ul>
</li>
</ul>
</li>
<li id="parent"><a href="https://ai.marketing/en/campaign/lul22ks3j8"> Sign Up </a></li>
</ul>-->
<!-- <img id="css-svg" src="https://marketbotai.com/logo.a1a2f16.svg"> -->
<div id="css-align"><h1>MarketBot</h1>
<div id="css-padding">Earn up to 35% Cashback!<br>Without complications.<br><br> <!-- Hire an Artificial Intelligence robot to work for you with minimal supervision required.<br> Fund your MarketBot campaign and watch it go to work.<br> -->

  <button class="btn--green" type="submit" onclick="myFunction()">Sign in | Sign up</button>
  <script>
  function myFunction() {
    window.location.href="https://ai.marketing/en/campaign/lul22ks3j8";
  }
  </script>

</div>
</div> <!--llow MarketBot to set up your advertising strategy and earn on the Traffic Arbitrage!<br> AI Marketing's MarketBot monitors trends in social media and search queries and predicts the future demand analyzing the keywords popularity dynamics.<br><br></div></div>-->
</div>
<img src="https://marketbotai.com/ai.marketing.jpg" width="800" height="548" style="width: 100%; height: auto;" alt="marketbot">
<div id="css-bottom-div">
<img src="https://marketbotai.com/ai-4-1.jpg" width="790" height="469" style="width: 100%; height: auto; display: block;" alt="ai marketing">
<div id="css-bottom">Find out how AI Marketing's MarketBot can change your business. <br> Click below to watch a video tutorial.<br>
  <button class="btn--green" type="submit" onclick="myFunction()">Watch Video</button>
  <script>
  function myFunction() {
    window.location.href="https://ai.marketing/en/campaign/lul22ks3j8";
  }
  </script>
</div></div>
<!-- <div id="css-banner-div">Not what you're looking for?<br><iframe src="//ws-na.amazon-adsystem.com/widgets/cm?o=15&p=40&l=ur1&category=amazonhomepage&f=ifr&linkID=48dc55e6fdcb2a757202a97c534812bc&t=105cdd-20&tracking_id=105cdd-20" width="120" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe></div>
-->
<footer>All Rights Reserved.</footer>
</body>
</html>
