<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199797979-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199797979-2');
</script>
<title>Unsubscribe</title>

<style>

body {
background: linear-gradient(to right, #003665, #00a3b6);
color: white;
height: 100%;
font-family: 'IBM-Plex-Regular', serif;
font-size: 35px;
}


input {
    font-family: 'IBM-Plex-Regular', serif;
    width: 40%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}
    input[type=submit] {
    font-family: 'IBM-Plex-Regular', serif;
    font-size: 1.1rem; 
    font-weight: 400;
    width: 20%;
    text-align: center;
    color: #fff; 
    background-color: #007bff; 
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}



.top {
  position: absolute;
  top: 10%;
width: 100%;
  text-align: center;
  color: white;
}

.bottom {
  position: absolute;
  bottom: 40%;
width: 100%;
  text-align: center;
  
  color: white;
}

</style>
</head>
<body>


<div class='top'>
    <h1>MarketBot</h1>
</div>
     <div class='bottom'>
          <h3>You have successfully UNSUBSCRIBED from receiving future communications from marketbotai.com</h3>

</div>

</body>
</html>
