body {
  background-image: url('https://github.com/dstlmike/email/commands/2A34A9R.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
      html {
        font-family: 'Montserrat', sans-serif;
      }
      .command_cont {
        padding: 10px;
        list-style-type:none;
      }
      .command_name {
        overflow: hidden;
        margin: .3em;
        width:22%;
        float:left;
      }
      .command_name:hover {
        background: #eee;
      }
      .command_desc {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 0 0 5px;
        background: #eee;
        border: 1px solid #000;
        border-radius: 3px;
        display: none;
      }
      h2 {
        clear: both;
        padding-top: 15px;
        padding-bottom: 0;
      }
      .clear {
        clear: both;
      }

